    </div>
    <div class="card text-center">
      <div class="card-footer text-muted" style="bottom: 0px;left;  width: 100%; position: relative; background-color: #d7d8da; height: 60px; color: rgb(17, 17, 17); font-size: 30px;">
          © 2019 Copyright : Key-Value Store.
      </div>
    </div>
</html>