<% include includes/header.ejs %>
<h1 style="text-align: center">Key/Value Store.</h1>
<div style="margin-top: 10%">
    <h2 style="text-align: center">About</h2>
    <p class="lead" style="text-align: center">This is a Key/Value Store made with NodeJS, Bootstrap and MariaDB by Brieuc and Samuel for a Web Project.</p>
    <p class="lead" style="text-align: center">It's a data storage designed for storing, retrieving, and managing associative arrays, a data structure known as a hash table.</p>
</div>
<% include includes/footer.ejs %>